:root {
  --gutter: .4rem;
}

body {
  font-family: 'Kadwa', serif;
  margin: 0;
}

.header {
  bottom: 0;
  display: grid;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.headerBackground {
  background-color: white;
  height: 100%;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.headerContent {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 1.1rem;
}

.headerContent h6 {
  line-height: .75rem;
}

.buy, .price {
  grid-column: span 1;
  display: flex;
  align-items: center;
}

.name {
  padding: 0 var(--gutter);
  grid-column: span 2;
}

span {
  padding: 0 2rem;
  font-size: 1.2rem;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(8,1fr);
  padding: calc(var(--gutter)/2);
}

.grid-block {
  grid-row: span 2;
  grid-column: span 8;
  padding: calc(var(--gutter)/2);
}

.gridMenuItem {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #BCDFFF;
}

h3 {
  height: 40%;
  width: 30%;
  object-fit: cover;
  object-position: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.grid > * {
  border: 1px solid black;
}
.gridMenuItem > * {
  border: 1px solid black;
}
*/

#sm, #med, #lg {
  background-color: #D3DBE4;
}

